apiVersion: v1
kind: Service
metadata:
  name: {{ include "advanced-templates.fullname" . }}
  labels:
    {{- include "advanced-templates.labels" . | nindent 4 }}
  {{- with (include "advanced-templates.annotations" .) }}
  annotations:
    {{- . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.app.service.type }}
  ports:
  - port: {{ .Values.app.service.port }}
    targetPort: {{ .Values.app.service.targetPort }}
    protocol: TCP
    name: {{ include "advanced-templates.portName" (dict "port" .Values.app.service.port "protocol" "TCP") }}
  selector:
    {{- include "advanced-templates.selectorLabels" . | nindent 4 }}
