apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-{{ .Values.app.name }}
  labels:
    app: {{ .Values.app.name }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    release: {{ .Release.Name }}
spec:
  type: {{ .Values.app.service.type }}
  ports:
  - port: {{ .Values.app.service.port }}
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: {{ .Values.app.name }}
    release: {{ .Release.Name }}
